*{
    margin:0;
    padding:0;
    color:white;
}
#wrapper{
    overflow: hidden;
    /*height:200vh;*/
    width:100%;
    background-color: white;
}
.wrapper{

}
.wrapper-inner{
    /*height:100vh;*/
    width:100%;
}
.bg-top{
    background:url('Images/main-brain-red.png') center center no-repeat fixed;
    width:100%;
    background-size: 82% 90%;
    margin:0;
    background-color: rgba(255, 255, 255, 0.46);
    /*this positioning will put the background image below the navbar*/
    background-position-y: 62px;
    position:relative;
    text-align: center;

}
.bg-middle{
    background:url('Images/brainscan.jpg') center 0 no-repeat fixed;
    background-size: 100% 100%;
    width:100%
}
.bg-middle2 {
    /*background: url() center center no-repeat fixed;*/
    width:100%;
    background-size: 82% 90%;
    margin:0;
    background-color: rgb(16, 216, 206);
    /*this positioning will put the background image below the navbar*/
    background-position-y: 62px;
    position:relative;
    text-align: center;
}
.bg-bottom{
    background:url('Images/greenbrain.png') center 0 no-repeat fixed;
    width:100%;
    background-size: 82% 90%;
    margin:0;
    /*this positioning will put the background image below the navbar*/
    background-position-y: 62px;
    position:relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);

}
.bg-top> .glyphicon, .glyphicon-chevron-down{
    /*position:absolute;*/
    /*bottom:10vh;*/
    /*top: inherit;*/
    font-size: 90px;
}
.bg-fade{
    background-color: rgba(78, 80, 84, 0.33);
    height:100%;
    width:100%;
}
.info2-head{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    text-shadow: 1px 1px black;
    padding:40px 40px 0 40px;
    margin:40px 20px;
    /*text-decoration: underline;*/
    border-bottom: 2px solid white;
}
.bg-fade2>p{
    padding-top: 30px;
}
.bg-fade2{
    background-color: rgba(0, 0, 0, 0.61);
    height:100%;
    width:100%;
}
.navbar{
    margin-bottom: 0;
}
.intro{
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    /*color:black;*/
    padding:0 40px 0 40px;
    margin-bottom: 42px;
    text-shadow: 1px 1px black;
}
.title{
    padding: 0 0 20px 16px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px #6e006e;
}
hr{
    margin:0 40px 0 40px;
}
.info1{
    font-family: 'Eczar', serif;
    color: black;
    font-size: 30px;
    padding:20px 15px 40px 20px;
}
.info2{
    font-family: 'Bitter', serif;
    color:white;
    font-size: 55px;
    text-shadow: 1px 1px black;
    padding:50px 15px 40px 20px;
}
.info1 >span{
    color: rgb(93, 192, 207);
    text-shadow: 1px 1px black;
    font-size: 40px;
}
.feature-list{
    font-family:  'Eczar', serif;
    list-style-type: decimal;
    margin:50px 10px 0 50px;
    font-size: 35px;
    width:80%;
    text-shadow: 1px 1px black;
}
.feature-list li{
    margin-top: 30px;
}
.main-logo:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.main-logo{
    transition: transform .8s ease-in-out;
}
