
#wrapper{
    overflow: hidden;
    /*height:200vh;*/
    width:100%;
    background-color: white;
}
#wrapper3{
    overflow: hidden;
    background:url('Images/mechanics-min.png') center center no-repeat fixed;
    width:100%;
    background-size: 100% 90%;
    padding:35px 0 35px 0;
    margin:0;
    background-position-y: 62px;
    position:relative;
    text-align: center;
    background-color: black;
}
.wrapper-inner{
    /*height:100vh;*/
    width:100%;
}
.bg-top{
    background:url('Images/main-brain-red.png') center center no-repeat fixed;
    width:100%;
    background-size:  55% auto;
    margin:0;
    background-color: rgba(255, 255, 255, 0.46);
    /*this positioning will put the background image below the navbar*/
    background-position-y: 50px;
    position:relative;
    text-align: center;

}
.bg-middle{
    background:url('Images/brainscan.jpg') center 0 no-repeat fixed;
    background-size: 100% 100%;
    width:100%
}
.bg-middle2 {
    /*background: url() center center no-repeat fixed;*/
    width:100%;
    background-size: 82% 90%;
    margin:0;
    background-color: rgb(16, 216, 206);
    /*this positioning will put the background image below the navbar*/
    background-position-y: 62px;
    position:relative;
    text-align: center;
}
.bg-bottom{
    background:url('Images/greenbrain.png') center 0 no-repeat fixed;
    width:100%;
    background-size: 82% 90%;
    margin:0;
    /*this positioning will put the background image below the navbar*/
    background-position-y: 62px;
    position:relative;
    background-color: rgba(29, 29, 29, 0.67);

}
.bg-top> .glyphicon, .glyphicon-chevron-down{
    /*position:absolute;*/
    /*bottom:10vh;*/
    /*top: inherit;*/
    font-size: 90px;
}
.bg-fade{
    background-color: rgba(78, 80, 84, 0.33);
    height:100%;
    width:100%;
}
.info2-head{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    text-shadow: 1px 1px black;
    padding:20px 40px 0 40px;
    margin:20px 20px;
    /*text-decoration: underline;*/
    border-bottom: 2px solid white;
    display:inline-block;
}
.bg-fade2>p{
    padding-top: 30px;
}
.bg-fade2{
    background-color: rgba(0, 0, 0, 0.61);
    height:100%;
    width:100%;
}

.intro{
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    /*color:black;*/
    padding:0 40px 0 40px;
    margin-bottom: 42px;
    text-shadow: 1px 1px black;
}
.title{
    padding: 0 0 20px 16px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px #6e006e;
}
hr{
    margin:0 40px 0 40px;
}
.info1{
    font-family: 'Eczar', serif;
    color: black;
    font-size: 30px;
    padding:20px 15px 40px 20px;
}
.info2{
    font-family: 'Bitter', serif;
    color:white;
    font-size: 55px;
    text-shadow: 1px 1px black;
    padding:50px 15px 40px 20px;
}
.info3{
    font-family: 'Times', serif;
    color:black;
    font-size: 20px;
    text-shadow: 1px 1px white;
    padding:20px 15px 40px 20px;
    /*border:1px solid black;*/
    box-shadow: 2px 2px black;
    background-color: rgba(255, 255, 255, 0.98);
    margin:10px 8px 20px 8px;
}
.info3 span:first-child{
    font-size: 30px;
    color:black;
}
.red{
    color:red;
    font-size: 25px;
}
.info1 >span{
    color: rgb(93, 192, 207);
    text-shadow: 1px 1px black;
    font-size: 40px;
}
.feature-list{
    font-family:  'Eczar', serif;
    list-style-type: decimal;
    margin:50px 10px 0 70px;
    font-size: 35px;
    width:80%;
    text-shadow: 1px 1px black;
}
.feature-list li{
    margin-top: 30px;
}
.main-logo:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.main-logo{
    transition: transform .8s ease-in-out;
}
#footer{
    height:50px;
    color:black;
    background-color: rgb(194, 212, 209);
    text-align: center;
}
.analytics{
    height:300px;
}
#cheveron{
    cursor: pointer;
}
#cheveron:hover{
    color: #767676;
}

/*---------------------Mobile Settings-------------------------*/
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px;
        font-size: 20px;
    }
    .info3{
        margin-left:15px ;
    }
    .feature-list{
        margin:20px 10px 0 20px;
    }
    .analytics{
        height:200px;
    }
    .bg-top{
        background-position-y: 21vh ;
        background-position-x: 25px ;
        background-size:90% 64%;
    }
}


/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px;
        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 20px;
    }
    .analytics{
        height:200px;
    }
    .info3{
        margin-left:15px ;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px 0 4px 10px;
        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 10px;
    }
    .analytics{
        height:200px;
    }
    .bg-top{
        background-position-y: 20vh ;
        background-position-x: 30px ;
        background-size:90% 64%;
    }
    .info3{
        margin-left:15px ;
    }

}


/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px;
        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 10px;
    }
    .analytics{
        height:200px;
    }
    .info3{
        margin-left:15px ;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px 0 4px 10px;
        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 10px;
    }
    .analytics{
        height:200px;
    }
    .info3{
        margin-left:15px ;
    }

}


/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px 0 4px 10px;        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 20px;
    }

    .analytics{
        height:200px;
    }
    .info3{
        margin-left:15px ;
    }
}


@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu li a{
        color:black;
    }
    .last-item{
        background-color: transparent;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border: none;
    }
    .icon-bar{
        color:black;
    }
    .analytics{
        height:300px;
    }

}
@media (max-width: 910px){
    .bg-top{
        background-position-y: 20vh ;
    }
}
@media (max-width: 1200px){
    .bg-top{
        background-position-y: 15vh ;
    }
}