/*-------pdf form---------*/
body{
    background-color: rgba(240, 206, 0, 0.12);
}
#title{
    padding:40px 0 0 40px;
    display: inline-block;
}
.date,.first-name,.last-name{
    float: right;
}
.pdf-form{
    background-color: transparent;
    font-family: "Times New Roman",'Helvetica';
}
.data{
    margin-left: 20px;
}
.wrapper{
    background-color: rgba(245, 245, 245, 0.96);
    border:1px solid black;
    margin:8px;
    padding:10px;
}
