html{
    background-color: #3bc8ff;
}
nav{
    position: fixed;
    top: 0;
}
body{
    background-color:#3bc8ff;
    /*background: url("images/bluebrain.png"); center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;*/
}
#logo{
    /*background:url("images/logo.png");
    background-repeat: no-repeat;*/

    height: 30vh;
    background-color: transparent;

}
#searchbar{
    margin-top:90px;
}
#info1{
    margin: 40px 0 0 32px ;

}

#footcontent{
    text-align: center;
    padding:10px 0 0 0;
    color:black;
}
select{
    margin: 5px;
}
#title{
    margin-top: 60px;
}
/*-------------Client Form Specs---------------------*/
.client_form{
    border: 1px solid black;
    padding: 10px;
}
.third_head{
    color: #0a06a2;
}
/*------------Login Form---------------*/
.login-form{
    text-align: center;
}
.second-form {
    margin-bottom: 150px;
}
/*-----------------dashboard list---------------*/
#dashboard-list{
    list-style-type: none;
    margin-left: -25px;
}
#dashboard-list li{
    margin-top: 10px;
}
#dashboard-list button{
    width:100%
}
footer{
    bottom:0;
    text-align: right;
    position:fixed;
    width:100%;
}
.footer{
    margin-right:10px;
}
.my-info{
    background-color: #d500ff;
}
/*------------------make new client------------*/
.next{
    margin-top:15px;
    text-align:right;
}
/*-------logout------*/
.logout-contain{
    text-align: center;
    margin-top: 25vh;
}
/*--------my clients---------*/
.client-contain{
    background-color: rgba(145, 145, 145, 0.33);
    border-radius:3px;
}
.display_error{
    background-color: red;
}
/*-----------select form---------------*/
.form-icon{
    font-size:200px;
    color:black;
}
.form-icon:hover{
    color: yellow;
}
/*------default form-------*/
.main-contain{
    border-radius: 4px;
    background-color: rgba(222, 222, 222, 0.68);

}
.content-block{
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 5px;
    border:1px solid black;
    padding:10px;
    margin:5px 0 5px 0;
}