html{
    background-color:transparent;
    height:100%;
}
nav{
    position: fixed;
    top: 0;
}
.navbar{
    border-radius: 0;
}
.navbar-inverse, .navbar, nav{
    background-color: rgba(0, 0, 0, 0.91);
    color:white;
}
.dropdown-menu>li>a{
    background-color: rgba(255, 255, 255, 0.91);
    color: black;
}
.logo{
    margin-top: -10px;
}
body{
    /*background-image: url('Images/iam-solutions-brain.png');*/
    /*background-repeat:no-repeat ;*/
    background: url("Images/iam-solutions-brain.png") center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90% 90%;
    margin:0;
    padding:0;
    background-color: rgba(144, 193, 207, 0.5);
    /*this positioning will put the background image below the navbar*/
    background-position: 0 9vh;
    background-position-x: 25px;

}
#logo{
    /*background:url("images/logo.png");
    background-repeat: no-repeat;*/
    height: 30vh;
    background-color: transparent;
}
#searchbar{
    margin-top:90px;
}
#info1{
    margin: 40px 0 0 32px ;
}
#footcontent{
    text-align: center;
    padding:10px 0 0 0;
    color:black;
}
select{
    margin: 5px;
}
#title{
    margin-top: 60px;
}
/*---------about---------------*/
.fancy{
    font-family: 'Indie Flower', cursive;
    background-color: rgba(194, 238, 255, 0.71);
    padding:10px;
    border-radius: 4px;
}
#about_info{
    font-size: 16px;
}
#about_info p{
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 2px;
    border:1px solid black;
    padding:10px;
    margin:5px 0 18px 0;
    box-shadow: 1px 1px 1px 1px black;

}
#dl-agreement{
    font-size: 20px;
    float:right;
    color:red;
    font-weight: 500;
}
/*-------------Client Form Specs---------------------*/
.client_form{
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(237, 253, 255, 0.89);
    box-shadow: 1px 1px 1px 1px black;
}
.third_head{
    color: #0a06a2;
}
/*------------Login Form---------------*/
.login-form{
    text-align: center;
}
.second-form {
    margin-bottom: 150px;
}
/*-----------------dashboard list---------------*/
#dashboard-list{
    list-style-type: none;
    margin-left: -25px;
}
#dashboard-list li{
    margin-top: 10px;
}
#dashboard-list button{
    width:100%
}
footer{
    bottom:0;
    position:fixed;
    width:100%;
}
.hippa{
    float: right;
}
.microsoft{
   bottom:0;
    left:0;
    position:absolute;
    padding:5px 10px;
}
.microsoft img{
    padding:5px 10px;
}
.footer{
    margin-right:10px;
    z-index: -1;
}
.my-info{
    background-color: #d500ff;
}
/*------------------make new client------------*/
.next{
    margin-top:15px;
    text-align:right;
}
/*-------logout------*/
.logout-contain{
    text-align: center;
    margin-top: 25vh;
}
.checkbox{
    margin-left:20px;
}
/*--------my clients---------*/
.client-contain{
    background-color: rgba(247, 247, 247, 0.82);
    border-radius:3px;
}
.display_error{
    background-color: red;
}
/*-----------select form---------------*/
.form-icon{
    font-size:200px;
    color:black;
}
.form-icon:hover{
    color: yellow;
    cursor:pointer;
}
.client_name{
    color:blue;
}

/*------default form-------*/
.main-contain{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.52);

}
.content-block{
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 2px;
    border:1px solid black;
    padding:10px;
    margin:5px 0 5px 0;
}
/*-------------contact email page--------------*/
#submit{
    margin-top: 10px;
}
/*------------results---------*/
.article-title{
    color: #2b90ff;
    font-weight: 500;
    font-size: 18px;
    margin-left:-20px;
}
.results_page{
    background-color: white;
    margin-top:10vh;
}
.result-list{
    margin-top: 10px;
    list-style: none;
    padding-right:10px;
}
.summary{
    height:30vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding:4px 8px 4px 8px;
    margin-left:-20px;

}