html{
    background-color:transparent;
    height:100%;
}
nav{
    top: 0;
    position: fixed;
}
.navbar{
    border-radius: 0;
}
.navbar-inverse, .navbar, nav{
    color:white;
    border:none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color:black;
    border:none;
}
.navbar-inverse .navbar-nav>li>a{
    color: black;
}
.navbar{
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,transparent); /* Standard syntax (must be last) */
}
.logo{
    margin-top: -10px;
    height: 200%;
}
.dropdown-menu, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(255, 255, 255, 0.93);
    color:black;
    border: none;
}
body{
    /*background-image: url('Images/iam-solutions-brain.png');*/
    /*background-repeat:no-repeat ;*/
    background: url("Images/iam-solutions-brain.png") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  55% auto;
    margin:0;
    padding:0;
    background-color: rgba(144, 193, 207, 0.5);
    width:100%;
    /*this positioning will put the background image below the navbar*/
    background-position-y: 50px;
    position:relative;
    /*text-align: center;*/
}
#logo{
    /*background:url("images/logo.png");
    background-repeat: no-repeat;*/
    height: 30vh;
    background-color: transparent;
    margin-left:-25px;
}
#searchbar{
    margin-top:90px;
}
#info1{
    margin: 40px 0 0 32px ;
}
#footcontent{
    text-align: center;
    padding:10px 0 0 0;
    color:black;
}
select{
    margin: 5px;
}
#title{
    margin-top: 60px;
}

/*---------about---------------*/
.fancy{
    font-family: 'Indie Flower', cursive, Helvetica;
    /*background-color: rgba(194, 238, 255, 0.71);*/
    padding:10px;
    border-radius: 4px;
}
#about_info{
    font-size: 16px;
}
#about_info p{
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 2px;
    border:1px solid black;
    padding:10px;
    margin:5px 0 18px 0;
    box-shadow: 1px 1px 1px 1px black;
}
#dl-agreement{
    font-size: 20px;
    float:right;
    color:red;
    font-weight: 500;
}
.fade-background1, .fade-background2{
    background-color: rgba(254, 255, 244, 0.84);
    margin-top: -20px;
    border-bottom: 2px solid black;
}

.fade-background2{
    margin-top: 0;
}
.fade-background{
    background-color: rgba(171, 235, 227, 0.68);
    border-bottom: 2px solid black;
}
/*-------------Client Form Specs---------------------*/
.client_form{
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(237, 253, 255, 0.89);
    box-shadow: 1px 1px 1px 1px black;
}
.third_head{
    color: #0a06a2;
}
/*------------Login Form---------------*/
.login-form{
    text-align: center;
}
.second-form {
    margin-bottom: 30px;
}
.sharp{
    border-radius: 0;
}
.form-signin-heading{
    font-family: Helvetica, "Times New Roman",Sarif;
}
.login-inner{
    text-align: center;
    padding-top: 20px;
}
/*-----------------dashboard list---------------*/
#dashboard-list{
    list-style-type: none;
    margin-left: -25px;
}
#dashboard-list li{
    margin-top: 10px;
}
#dashboard-list button{
    width:100%
}
footer{
    bottom:0;
    position:fixed;
    width:100%;
}
.hippa{
    float: right;
}
.microsoft{
   bottom:0;
    left:0;
    position:absolute;
    padding:5px 10px;
}
.microsoft img{
    padding:5px 10px;
}
.footer{
    margin-right:10px;
    z-index: -1;
}
.my-info{
    background-color: #d500ff;
}
/*------------------make new client------------*/
.next{
    margin-top:15px;
    text-align:right;
}
/*-------logout------*/
.logout-contain{
    text-align: center;
    margin-top: 25vh;
}
.checkbox{
    margin-left:20px;
}
/*--------my clients---------*/
.client-contain{
    background-color: rgba(247, 247, 247, 0.82);
    border-radius:3px;
}
.display_error{
    background-color: red;
}
.arrow_down{
    border-top:2px solid black;
}
thead tr{
    cursor: pointer;
}
/*-----------select form---------------*/
.form-icon{
    font-size:200px;
    color:black;
}
.form-icon:hover{
    color: yellow;
    cursor:pointer;
}
.client_name{
    color:blue;
}

/*------default form-------*/
.main-contain{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.52);

}
.content-block{
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 2px;
    border:1px solid black;
    padding:10px;
    margin:5px 0 5px 0;
}
.form-submit{
    margin-bottom: 30px;
    float:right;
}
/*-------------contact email page--------------*/
#submit{
    margin-top: 10px;
}
/*------------results---------*/
.article-title{
    color: #2b90ff;
    font-weight: 500;
    font-size: 18px;
    margin-left:-20px;
    width:75%;
}
.results_page{
    background-color: white;
    margin-top:3vh;
}
.loader{
    text-align: center;
}
.result-list{
    margin-top: 10px;
    list-style: none;
    padding-right:10px;
}
.result-list:last-child{
    margin-bottom: 70px;
}
.results-row{
    margin-left:8px;
}
.summary{
    height:30vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding:4px 8px 4px 8px;
    margin-left:-20px;
    margin-bottom: 20px;

}
.divider{
    border-bottom: 1px solid black;
    /*border-top: 1px solid black;*/
    padding-bottom: 5px;
    background-color:  rgba(144, 193, 207, 0.5);
    background: url('Images/bluebackground.gif')center 0 fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;

}
.main-contain-results{
    padding-right: 0;
    padding-left: 0;
}
a{
    cursor: pointer;
}
.order-by{
    padding:10px 0 0 0;
}
.citation{
    float: right;
    margin-right: 20px;
}
.citation:hover{
    background-color: #ffffff;
    border-radius: 4px;
    padding-right:5px;
    border:1px solid black;
}
.response-time{
    float:right;
    margin-right:20px;
}
.paginav li{
    display: inline-block;
    list-style-type: none;
    padding:0 10px 0 0;
}
.pagi-contain{
    text-align: center;
}
#summary{
    cursor: pointer;
}

/*--------mobile settings------*/

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .divider,#logo,.main-contain-results,.main-contain-search,.fade-background1,.fade-background{
        padding-right: 0;
        padding-left: 0;
    }
    .hippa{
        display: none;
    }
    body{
        background-position-y: 21vh ;
        background-position-x: 25px ;
        background-size:90% 64%;
    }
    .logo{
        height:100%;
        margin-left:0;
    }
    .article-title{
        width:100%;
    }
    .results-row{
        margin-left:0;
    }
}


/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .divider,#logo,.main-contain-results,.main-contain-search,.fade-background1,.fade-background {
        padding-right: 0;
        padding-left: 0;
    }
    .hippa{
        display: none;
    }
    .logo{
        height:100%;
        margin-left:0;
    }
    .article-title{
        width:100%;
    }
    .results-row{
        margin-left:0;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .divider,#logo,.main-contain-results,.main-contain-search,.fade-background1,.fade-background {
        padding-right: 0;
        padding-left: 0;
    }
    .hippa{
        display: none;
    }
    body{
        background-position-y: 21vh ;
        background-position-x: 30px ;
        background-size:90% 64%;
    }
    .logo{
        height:100%;
        margin-left:0;
    }
    .article-title{
        width:100%;
    }
    .results-row{
        margin-left:0;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .divider,#logo,.main-contain-results,.main-contain-search,.fade-background1,.fade-background {
        padding-right: 0;
        padding-left: 0;
    }
    .article-title{
        width:100%;
    }
    .hippa{
        display: none;
    }
    .logo{
        height:100%;
        margin-left:0;
    }
    .results-row{
        margin-left:0;
    }

}
/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .intro{
        font-size: 20px;
    }
    .info2-head{
        padding:4px;
        margin:4px;
        font-size: 20px;
    }
    .feature-list{
        margin:20px 10px 0 20px;
    }
    .analytics{
        height:200px;
    }

}



/*------bootstrap nav------*/

@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu li a{
     color:black;
    }
    .last-item{
        background-color: transparent;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border: none;
    }
    .icon-bar{
        color:black;
    }

}

@media (max-width: 910px){
    body{
        background-position-y: 20vh ;
    }
}
@media (max-width: 1200px){
    body{
        background-position-y: 15vh ;
    }
}